@import "tailwindcss";
@import "../styles/token.css";

html,
body {
  	height: 100%;
}

body {
  	background: rgb(var(--bg));
  	color: rgb(var(--fg));
  	font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
.font-title {
	font-family: var(--font-montserrat-alternates);
}
  
